@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Titillium+Web:wght@200;300;400;600;700&display=swap');


body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(244, 244, 244);
}


.navigationBar{
    font-family: "montserrat", sans-serif;
    background-color: hwb(288 18% 46%);
    width: 100%;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.navigationBar div{
    overflow: hidden;
    margin: au 5%;
    height: 70px;
    min-width: 15%;
    text-align: center;
    line-height: 70px;
    padding: 0 15px;
}

.navigationBar div a{
    color:white;
    font-size: 150%;
    transition:  .5s;
}

.navigationBar div a:hover{
    color: #0082e6;
}

.logo {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 2.5vw;
}


#title{
    font-family:sans-serif;
    font-size: 4vw;
    font-weight: bold;
    width: 100%;
    color: whitesmoke;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.header {
    text-align: center;
    width: 100%;
    height: 550px;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52) 10%, rgba(117, 19, 93, 0.73) 50%, rgb(244, 244, 244)), url("plant.jpg");
    background-size: cover;
    background-position-x: center;
}

.centeredImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.accordionContent{
    margin-left: 2vw;
    font-family: 'Quicksand', sans-serif;
    color: #222222;
    font-weight: 400;
    width: 95%;
    line-height: 50px;
    font-size: 200%;
    font-weight: 500;
    padding: 2px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    transition-timing-function: ease;
}


#accordion label + input[type="checkbox"]:checked + .accordionContent{
    max-height: 1000px;
}
/* #accordion label + input[type="checkbox"]:checked + .arrow{
    transform: rotate(90deg);
} */

.cleanGreen{
    color: rgb(97, 71, 32);
    font-weight: bolder;
}

#accordion li{
    width: 80%;
    padding: 3vw;
    list-style: none;   
    
}

#accordion li label{
    user-select: none;
    padding: 0.5vw;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    position: relative;
    font-size: 200%;
    justify-content: space-between;
    cursor: pointer;
}

.arrow{
    float: right;
    margin-right: 2%;
    margin-top: 15px;
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    overflow: hidden;
}

.accordionCheckBox{
    display: none;

}

.description{
    margin-top: 100px;
    color: #222222;
    margin-left: 5%;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    overflow: hidden;
    font-weight: 500;
}

.description li{
    margin-top: 15px;
    font-size: 100%;
}

.descriptionHeading{
    font-weight: 700;
}

.description span{
    font-weight: bold;
    font-weight: 900;
}

.description img{
    margin-left: 2%;
    float: right;
}

.CenteredTitle{
    font-weight: bold;
    font-size: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
    width: 350px;
    margin: 5%;
    border-style: solid;
    border-color: #222222;
    border-width: 2px;
    border-radius: 15px;
    transition: ease 0.5s;
}

.card-image{
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card a{
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.card h2{
    padding: 10px;
}

.card p{
    padding: 10px;
}

.card:hover{
    cursor:pointer;
    transform: scale(1.1);
}

#card-1
{
    background-image: url("pouring oil.jpg");
}

#card-2
{
    background-image: url("plant in a soil.jpg");
}

footer *{
    overflow: hidden;
	margin:0;
	padding:0;
	box-sizing: border-box;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}

.footer{
    width: 100%;
    background-color: hwb(288 18% 46%);
    padding: 70px 0;
}
.footer ul{
    list-style: none;
}

.footerContainer{
    max-width: 1170px;
    margin: auto;
}

.footerRow{
    display: flex;
    flex-wrap: wrap;
}

.footerColumn{
    width: 25%;
    padding: 0 15px;
}

.footerColumn h4{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footerColumn h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footerColumn ul li:not( :last-child){
    margin-bottom: 10px;
}

.footerColumn ul li a{
    font-size: 16px;
    color: #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    transition: all 0.3s ease;
}

.footerColumn ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}

.footerColumn .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    color: #bbbbbb;
    transition: all 0.5s ease;
}
.footerColumn .social-links a:hover{
    color: #ffffff;
}

@media(max-width: 767px){
    .footerColumn{
        width: 50%;
        margin-bottom: 30px;
    }
    
}